.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 10px; */
  border-radius: 200px;
  padding: 16px 49px;
  cursor: pointer;
  background: #e44848;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover {
  background: #d84343;
}
