.carBadges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 450px;
}
.carBadgesItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 100px;
  padding: 12px 18px;
  /* width: 143px;
  height: 48px; */
  background: #f2f4f7;
  mix-blend-mode: multiply;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #101828;
}
.carBadgesItemIcon {
  width: 20px;
  height: 20px;
}
.carBadgesItemImg {
  width: 32px;
  height: 28px;
}
