.feedbackForm {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.feedbackFormField,
.feedbackFormTextarea {
  display: flex;
  align-items: flex-start;
  border-radius: 12px;
  border: none;
  gap: 10px;
  padding: 18px;
  background: #f7f7f7;
  outline: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;
}
.feedbackFormTextarea {
  width: 527px;
  height: 118px;
  resize: none;
}
.sendBtn {
  margin-top: 10px;
  width: 166px;
  margin: 10px auto 0;
}
