.vehicleDetailsWrapper {
  padding: 44px 52px;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  border-radius: 10px;
  width: 631px;
}
.bookCamperWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  width: 641px;
  padding: 44px 57px;
}
