.locationWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  margin-bottom: 40px;
}
.locationTitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;
  position: relative;
}
.locationInput {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
  padding: 18px 20px 18px 20px;
  width: 360px;
  height: 56px;
  background: #f7f7f7;
  border: none;
  padding-left: 48px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  outline: none;
  /* line-height: 24px; */
  line-height: 1.5;
  color: #101828;
}
.locationInput::placeholder {
  color: #6c717b;
}
.locationMap {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50px;
  left: 20px;
  fill: #6c717b;
}
