.filtersTitle {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  margin-bottom: 32px;
}

.equipmentTitle,
.typeTitle {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  letter-spacing: 0.2px;
  border-bottom: 2px solid #dadde1;
  height: 48px;
  margin-bottom: 24px;
}
.equipmentWrapper {
  margin-bottom: 32px;
}
.equipmentListItem,
.typeListItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  border: 2px solid #dadde1;
  border-radius: 12px;
  width: 112px;
  height: 96px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  text-align: center;
  color: #101828;
}
.equipmentList,
.typeList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 12px;
}
.equipmentIcon {
  width: 32px;
  height: 32px;
}

.typeIcon {
  width: 34px;
  height: 34px;
}
.filtersWrapper {
  margin-bottom: 40px;
}

.filterSearchBtn {
  padding-left: 56px;
  padding-right: 56px;
}
.selected {
  border: 1px solid #e44848;
}
